@import "@/assets/_fonts.scss";

body {
  background-color: #FFF4D2;
}


.container {
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}